<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="navbar-item active">
                <a class="nav-link" href="https://bitbucket.org/ksamueloz/angular/src/master/angular-whishlist/">
                    Código BitBucket
                </a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="https://github.com/ksamueloz/Angular/tree/main">Código GitHub</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container content">
    <app-lista-destinos></app-lista-destinos>
</div>

<footer class="bg-dark text-center text-lg-start" id="footer">
    <div class="row">
        <div class="col-sm-4 d-flex flex-column">
            <p><a href="https://www.youtube.com/channel/UCAO1WALP5OdP1sbZNoHiEXQ?sub_confirmation=1">Youtube</a></p>
            <p><a href="https://www.instagram.com/ksamueloz">Instagram</a></p>
            <p><a href="https://www.facebook.com/IngTops">Facebook</a></p>
        </div>
        <div class="col-sm-4 d-flex flex-column">
            <!-- Copyright -->
            <p><a href="#">Copyright 2020</a></p>
            <p><a href="https://bitbucket.org/ksamueloz/angular/src/master/angular-whishlist/">Código BitBucket</a></p>
            <p><a href="https://github.com/ksamueloz/Angular/tree/main">Código GitHub</a></p>
            <!-- Copyright -->
        </div>
        <div class="col-sm-4 d-flex flex-column">
            <p><a href="#">No dejes de aprender</a></p>
        </div>
    </div>

</footer>