<div class="page-header navbar navbar-dark bg-dark fixed-top" style="color: rgba(27, 255, 244, 0.925)">
    <div class="container container-fluid">
        <h2>Angular-C</h2>
        <div class="navLinks">
            <a [routerLink]="['/home']" style="color: rgba(27, 255, 244, 0.925)">Home</a>
            <a [routerLink]="['/destino/:id']" style="color: rgba(27, 255, 244, 0.925)">Destino</a>
        </div>
    </div>
</div>
<!--
    <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h4 style="color: rgba(27, 255, 244, 0.925)">
                {{ title }}
            </h4>
        </a>
    </div>
</nav>
-->
<div class="container content">
    <router-outlet></router-outlet>
</div>

<footer class="bg-dark text-center text-lg-start" id="footer">
    <div class="row">
        <div class="col-sm-4 d-flex flex-column">
            <p><a href="https://www.youtube.com/channel/UCAO1WALP5OdP1sbZNoHiEXQ?sub_confirmation=1">Youtube</a></p>
            <p><a href="https://www.instagram.com/ksamueloz">Instagram</a></p>
            <p><a href="https://www.facebook.com/IngTops">Facebook</a></p>
        </div>
        <div class="col-sm-4 d-flex flex-column">
            <!-- Copyright -->
            <p><a href="#">Copyright 2020</a></p>
            <!-- Copyright -->
        </div>
        <div class="col-sm-4 d-flex flex-column">
            <p><a href="#">No dejes de aprender</a></p>
        </div>
    </div>

</footer>